canvas{
    // border: 1px solid red;
	position: absolute;
	z-index: 10;
}
html, body{
    cursor: pointer;
    padding:0px;
    margin: 0px;
}
#ui{
    position: absolute;
    top: 0px;
    left: 0px;
    // right: 0px;
    // bottom: 0px;
	z-index: 20;
}
#editor{
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display:inline-block;
    background-color: rgba(1,1,1,0.5)
}

#background{
    // opacity: 0.5
    z-index: -10;
    .layer1{
        // opacity: 0.5;
        background-size: 40% 20%;
        
        filter: contrast(20%) blur(2px);
    }
    .layer2{
        filter: contrast(50%);
    }
    .top {
        position: absolute;
        background-position: bottom;
        background-repeat: repeat-x;
        width: 100%;
        &.layer1{
            height: 270px;
        }
        &.layer2{
            height: 350px;
        }
    }
    .bottom {
        position: absolute;
        width: 100%;
        
        &.layer1{
            top: 270px;
        }
        &.layer2{
            top: 350px;
        }
        bottom: 0px;
        z-index: -10;
        background-color: black;
        
    }
}