canvas{
    // border: 1px solid red;
	position: absolute;
	z-index: 0;
}
html, body{
    cursor: pointer;
    padding:0px;
    margin: 0px;
}
#ui{
    position: absolute;
    top: 0px;
    left: 0px;
    // right: 0px;
    // bottom: 0px;
}
#editor{
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display:inline-block;
    background-color: rgba(1,1,1,0.5)
}